*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f8fd;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.navSection{
    width: 100%;
    margin-top: 1rem;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0px rgba(98,98,98,0.2);
    display: grid;
    grid-template-columns: 11% 53% 25%;
    padding: 1rem 2rem;
    justify-content: space-between;
}
.flexStyle{
    display: flex;
    align-items: center;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/* styles of logo */
.leftNav{
    height: 100%;
    justify-content: start;
}
.imgContainer{
    min-width: 50px;
}

/* styles of nav menu */
.linkNav{
    width: 100%;
    height: 100%;
    display: flex;
}
.linkNav ul li{
    display: inline;
    padding: 0 25px;
}
.linkNav ul li a {
    text-transform: capitalize;
    font-size: 16px;
}
.active{
    background-image: linear-gradient(70deg , rgb(58, 194, 255) 50%, rgb(47, 86, 255));
    padding:12px;
    border-radius: 22px;
    color: snow;
    font-weight: bold;
}

/* styles of user info */
.userNav{
    justify-content: space-between;
    gap: 2rem;
}
.iconContainer{
    display: flex;
    gap: 2rem;
}
.iconContainer a{
    font-size: 24px;
    color: black;
}
.iconContainer a:last-child{
    color: blue;
}
.userInfoContainer{
    justify-content: space-between;
    gap: 1rem;
}
.userInfoContainer .statusConnection{
    background-color: rgb(237, 253, 250);
    color: rgb(31, 146, 127);
    width: 65px;
    padding: 0.4rem;
    border-radius: 3px;
    text-align: center;
}
.profileUser{
    width: 50px;
    height: 50px;
}
.profileUser img{
    border-radius: 50%;
}

/* responsive codes */
@media screen and (max-width:1200px){
    .linkNav ul li{
        display: inline;
        padding: 0 25px;
    }
    .navSection{
        grid-template-columns: 11% 57% 28%;
    }
}

@media screen and (max-width:1105px){
    .imgContainer{
        min-width: 40px;
    }
    .logoSection h3{
        font-size: 18px;
    }
    .linkNav ul li{
        padding: 0 23px;
    }
    .linkNav ul li a{
        font-size: 14px;
    }
    .iconContainer i{
        font-size: 20px;
    }
    .statusConnection{
        font-size: 14px;
    }
    .profileUser{
        width: 45px;
        height: 45px;
        margin-right: 25px;
    }
    .navSection{
        grid-template-columns: 10% 57% 28%;
    }
}

@media screen and (max-width:985px){
    .imgContainer{
        min-width: 35px;
    }
    .logoSection h3{
        font-size: 16px;
    }
    .linkNav ul li{
        padding: 0 20px;
    }
    .userNav{
        gap: 1rem;
    }
    .iconContainer{
        gap: 1rem;
    }
    .navSection{
        grid-template-columns: 10% 60% 27%;
    }
    .userInfoContainer .statusConnection{
        padding: 0.3rem;
    }
}

@media screen and (max-width:885px){
    .profileUser{
        width: 40px;
        height: 40px;
    }
    .statusConnection{
        font-size: 12px;
        padding: 0.2rem;
    }
    .iconContainer i{
        font-size: 17px;
    }
    .linkNav ul li a{
        font-size: 13px;
    }
    .linkNav ul li{
        padding: 0 15px;
    }
    .linkNav  .active{
        padding:8px;
    }
    .linkNav{
        margin-left: 15px;
    }
}

@media screen and (max-width:760px){
    .imgContainer{
        min-width:30px;
    }
    .logoSection h3{
        font-size: 14px;
    }
    .linkNav ul li a{
        font-size: 12px;
    }
    .linkNav ul li{
        padding: 0 12px;
    }
    .navSection{
        grid-template-columns: 8% 55% 31%;
        padding: 1rem;
        gap: 0.5rem;
    }
    .userInfoContainer .statusConnection{
        width: 50px;
    }
}

@media screen and (min-width:700px){
    .mobileNav{
        display: none;
    }
}

@media screen and (max-width:700px){
    .navSection{
        grid-template-columns: 55% 30% 2%;
    }
    .linkNav{
        display: none;
    }
    .mobileNav{
        display: flex;
        align-items: center;
    }
    .mobileNav ul{
        width: 200px;
        height: 100%;
        transform: translateX(-350px);
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        transition: all 250ms ease;
        display: grid;
        grid-template-rows: repeat(5,50px);
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding: 2rem 0 2rem 2rem;
        overflow-x: hidden;
        font-size: 12px;
    }
    #toggleNav:checked + label + ul{
        transform: translateX(0px);
    }
    .line{
        width: 15px;
        border-bottom: 2px solid black;
        display: block;
        padding: 1.5px 0;
        align-items: center;
        transition: 250ms all ease;
    }
    #toggleNav:checked + label span.firstLine{
        position: relative;
        transform: rotate(225deg);
        top: 5px;
    }
    #toggleNav:checked + label span.secondLine{
        position: relative;
        opacity: 0;
    }
    #toggleNav:checked + label span.thirdLine{   
        position: relative;
        transform: rotate(315deg);
        top: -7px;
    }
}

@media screen and (max-width:615px){
    .navSection{
        grid-template-columns: 50% 30% 3%;
    }
    .imgContainer{
        width:20px ;
    }
    .logoSection h3{
        font-size: 12px;
    }
}

@media screen and (max-width:580px){
    .navSection{
        grid-template-columns: 42% 30% 3%;
    }
    .userNav .iconContainer i{
        font-size: 14px;
    }
    .profileUser{
        width: 30px;
        height: 30px;
    }
    .userInfoContainer .statusConnection{
        font-size: 10px;
        width: 40px;
        padding: 0.1rem;
    }
}

@media screen and (max-width:490px){
    .navSection{
        grid-template-columns:  32% 30% 3%;
    }
}

@media screen and (max-width:415px){
    .navSection{
        grid-template-columns: 25% 30% 3%;
    }
}